/* Inserta tu CSS aqui */
*{
	/*outline: 1px solid red;*/
	font-family:Oswald;
}
.header{
	background-image: url(../images/background.jpg);
	background-position: 20% 30%;

}
.list-menu li{
	display: inline-block;
	margin: 20px;

}
.list-menu a{
	text-decoration: none;
	color: black;
	font-size: 16px;
	
}
.header img{
	margin-top: 40px;
	margin-bottom: 20px;
}
.header h1{
	color: #FFF;
	margin-bottom: 20px;
}
.header h2{
	color: #FFF;
	margin-bottom: 80px;
}
#about{
	color: #B30086;
	background-image: url(../images/tile1.png);
}
#about h2{
	margin-top: 60px;
}
#about p{
	margin-bottom: 10px;
	margin-top: 10px;
	color: black;
}
#favourites{
	overflow: auto;
	height: 300px;
	position: relative;
	left:9px;
}
#favourites img{
	border-radius: 100%;
	height: 200px;
	width: 200px;
	margin-top: 20px;
	border: 2px solid #B30086;
	padding: 3px;
}
#favourites h1{
	color: #b30086;
}
#favourites h4{
	color: #B30086;
	margin-top: 10px;
}
#contact{
	background-image: url(../images/tile2.png); 
}
#contact h2{
	margin-bottom: 20px;
	margin-top: 20px;
}
